@import url('https://fonts.googleapis.com/css?family=DM+Sans');
@import "tailwindcss";


body {
  background-color: black;
  font-family: "DM Sans"!important;
  color: white;
}

.Toastify__toast {
  border-radius: 20px;
  font-family: "DM Sans";
  color: black;
}